@import "var";
@import "mixin";


.booking-form{
    @include grid(612px 400px, center, start, 20px);
}

.calendar-march, .calendar-apr, .calendar-feb {
    @include grid(80px 80px 80px 80px 80px 80px 80px, none, none, 2px);
    @include border($day-color, 1px);
    padding: 20px;
    background: rgba(0.0,0.0,0.0,0.4);
    .day{
        @include font(14px, $day-color);
        text-align: center;
        margin-bottom: 5px;
        margin-top: 10px;
    }
    
    .day-past{
        @include font(30px,$day-color );
        @include day($day-background);
        height: 51px;
    }
    
    .day-future{
        @include day($day-background);
        @include font(30px,$day-color);
        &:hover{
            background-color: $day-background-active;
            @include font(30px,white);
            .sits{
                @include font(12px,white);
            }
        }
        .sits{
            @include font(12px,$day-color-sits);
        }
    }
}

.calendar-march  .day-off{
    grid-column: 1 / span 4;
}

.calendar-apr  .day-off{
    display: none;
}

.calendar-feb  .day-off{
    grid-column: 1 / span 4;
}

h1{
    @include font(30px, $day-color);
    text-align:center;
    margin-top:30px;
}

.booking-parametrs {
    p{
        @include font(18px, $day-color);
        margin: 10px 0px 10px 0px;
    }
    select, input, textarea {
        width: 300px;
        padding: 10px 0px 10px 0px;
        @include border($day-color-sits, 2px);
    }  
}

.button{
    width:200px;
    @include border($day-color, 2px);
    text-decoration: none;
    background: none;
    @include font(18px, $day-color);
    padding: 10px;
    &:hover{
        @include border($day-color-sits, 2px);
    }
    margin-top:10px;
    grid-column: 1 / span 2;
}

